.dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    margin-left: -15px;
    margin-top: 145px;
    min-width: 160px;
    position: absolute;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.hero.is-primary .navbar .navbar-item.dropdown:not(.non_existent) {
    color: inherit;
    cursor: pointer;
}

.hero.is-primary .navbar-item:hover {
    background-color: #e5eaec;
}

@media screen and (max-width: 1023px) {
    .dropdown-content {
        background-color: #395068;
        margin-left: -15px;
        margin-top: 0;
    }

    .hero.is-primary a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current),
    .hero.is-primary div.dropdown:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current) {
        color: rgb(241, 234, 234);
    }

    .hero.is-primary a.navbar-item:hover,
    .hero.is-primary div.navbar-item:hover {
        background-color: #225164;
    }
}